body, html {
    height: calc(100vh - 60px);
}

.user {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0px;
}

#main-container {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

#video-container {
	position: absolute;
    bottom: 25px;
    right: 25px;
	width: 20%;
}

#video-container video {
    width: 100%;
}

#main-video-waiting {
    height: 100vh;
    position: relative;
}

#main-video-waiting div{
    position: absolute;
    width: 45%;
    top: calc(50% - 22px);
    left: calc(27.5%);
    text-align: center;
}

#main-video-waiting p{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #DDDDDD;
}

#main-video{
    height: calc(100% - 25px);
}

#main-video div {
    width: 100%;
    height: 100%;
}

#main-video video {
    width: 55%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#session {
    height: 100vh;
    position: relative;
}

#session #leave-session-btn {
    position: absolute;
    top: 80px;
    right: 25px;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: #DDDDDD;
}

#session #filter-modal-btn {
    position: absolute;
    top: 80px;
    left: 25px;
	width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: #DDDDDD;
}

#session .vm--modal{
    position: relative;
    text-align: center;
    padding-left: 15px;
}

#session .vm--modal p{
    position: absolute;
    width: 100%;
    height: 40px;
    font-size: 15pt;
    padding-top: 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DDDDDD;
    top: 0px;
    left: 0px;
}
#session .vm--modal section{
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0px;
    text-align: left;
}

#session .vm--modal input{
    width: 12px;
    height: 12px;
    background-color: initial;
    cursor: default;
    appearance: radio;
    box-sizing: border-box;
    margin: 3px 5px 10px 10px;
    padding: initial;
    border: initial;
}

#session .vm--modal #modal-hide{
    position: absolute;
    width: 100%;
    height: 40px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #DDDDDD;
    bottom: 0px;
    left: 0px;
}